<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-10">{{ $t("current_requests") }}</h2>
      <v-data-table
        :headers="headers"
        :loading="loadingDataTable"
        :items="companies"
        :mobile-breakpoint="zero"
        :items-per-page="200"
        hide-default-footer
        class="table teams mx-5"
      >
        <template v-slot:item="{ item }">
          <tr class="table__row cursor-pointer">
            <td class="table__cell text-center">
              {{ item ? item.product_id : "--" }}
            </td>
            <td class="table__cell text-center">
              <span>
                {{ item.user ? item.user.name : "--" }}
              </span>
            </td>
            <td class="table__cell text-center">
              <span v-if="locale == 'en'">
                {{ item.car_brand.name ? item.car_brand.name.en : "--" }} -
                {{
                  item.car_brand_model.name
                    ? item.car_brand_model.name.en
                    : "--"
                }}
              </span>
              <span v-else>
                {{ item.car_brand.name ? item.car_brand.name.ar : "--" }} -
                {{
                  item.car_brand_model.name
                    ? item.car_brand_model.name.ar
                    : "--"
                }}
              </span>
            </td>

            <td class="table__cell text-center">
              <v-avatar size="40">
                <img
                  :src="item.images_urls[0] || ''"
                  class="cursor-pointer"
                  @click="showImagePreview(item.images_urls[0])"
                  alt=""
                />
              </v-avatar>
            </td>
            <td class="table__cell text-center">
              <span v-if="locale == 'en'">
                {{
                  item.part_category.name ? item.part_category.name.en : "--"
                }}
              </span>
              <span v-else>
                {{
                  item.part_category.name ? item.part_category.name.ar : "--"
                }}
              </span>
            </td>
            <td class="table__cell text-center">
              {{ item.count || "--" }}
            </td>
            <td class="table__cell text-center">
              <span>{{ item ? item.year : "--" }}</span>
            </td>
            <td class="table__cell primary-color text-center">
              <vue-countdown-timer
                @start_callback="startCallBack('event started')"
                @end_callback="endCallBack('event ended')"
                :start-time="'2020-10-10 00:00:00'"
                :end-time="item.end_time"
                :interval="1000"
                :start-label="'Until start:'"
                :end-label="''"
                label-position="begin"
                :end-text="'Event ended!'"
                :day-txt="':'"
                :hour-txt="':'"
                :minutes-txt="':'"
                :seconds-txt="''"
              >
              </vue-countdown-timer>
            </td>
            <td class="table__cell text-center">
              <v-btn
                color="primary"
                class="text-capitalize bg-purple"
                text
                small
                :to="{ name: 'currentRequestDetails', params: { id: item.id } }"
                ><strong>{{ $t("details") }}</strong></v-btn
              >
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- pagination -->
      <!-- <div class="text-xs-center my-10">
        <v-pagination
          v-if="companies.length > 0 && pagination.last_page > 1"
          v-model="pagination.current_page"
          :length="pagination.last_page || 1"
          :total-visible="20"
          @input="handlePagination"
        ></v-pagination>
      </div> -->
      <!-- pagination -->
    </v-container>
    <global-image-preview
      :showDialog="imageOverlay"
      :imagePath="currentPreviewImage"
      @closePreview="imageOverlay = false"
    />
  </main>
</template>

<script>
import TableHeaders from "@/helpers/TableHeaders";
import { IndexDataQuery } from "@/helpers/apiMethods";
import { isEqual } from "lodash";
import cookie from "js-cookie";

export default {
  data() {
    return {
      zero: 0,
      dialog: false,
      headers: [],
      companies: [],
      loadingDataTable: false,
      imageOverlay: false,
      currentPreviewImage: "",
      loadingData: false,
      pagination: {},
      queries: {},
      locale: cookie.get("language") || "en",
    };
  },
  components: {
    // InputFilter: () => import("./components/InputFilter"),
  },
  created() {
    this.createTableHeaders();
  },
  methods: {
    indexCompanies(query) {
      this.loadingDataTable = true;

      IndexDataQuery({ reqName: "admin/current-requests", query })
        .then((res) => {
          const { data, meta } = res.data;
          this.companies = data;
          this.pagination = meta;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    back() {
      history.go(-1);
    },
    createTableHeaders() {
      const headersList = [
        "id",
        "user_name",
        "car_model",
        "part_image",
        "part_category",
        "count",
        "year",
        "timer",
        "details",
      ];
      this.headers = TableHeaders(headersList);
    },

    handlePagination(page) {
      this.queries = { ...this.queries, page };
      if (!isEqual(this.queries, this.$route.query)) {
        this.$router.push({ query: this.queries });
      }
    },
    endCallBack() {},
    startCallBack() {},
    showImagePreview(image) {
      if (image) {
        this.currentPreviewImage = image;
        this.imageOverlay = true;
      }
    },
  },
  watch: {
    $route: {
      handler(route) {
        const { query } = route;
        this.queries = query;
        this.pagination.current_page = query.page;
        this.indexCompanies(query);
      },
      immediate: true,
    },
  },
};
</script>
