// Temporarely -- to be deleted ----------------
$primary: #9543d6;
$primary-light: #c9e4f2;
$secondary: #0088c3;
$bgColor: #fafbfb;
$pink: #fa71cd;
$edit: rgb(0, 174, 255);
$show: rgb(202, 17, 177);
$delete: rgb(230, 51, 51);

// colors
$color-black: #000;
$color-white: #fff;
$color-bale: #eee;
$color-light: #d4d4d4;
$color-dark: #293484;
$color-darker: #21252e;
$color-gray: #909497;
$color-bg: #f8f8fb;
$color-th: #43425d;
$color-gray-header: #94979b;
$color-highlight: rgba(58, 132, 255, 0.05);
$color-v-list-key: #21252e;
$color-v-list-value: #a4aab8;
$color-highlight-light: #fbfbfe;
$color-accent: #f6d05a;
$color-accent-transparent: #f6cf5a99;
$color-accent-light: #d9d659;
$color-accent-focus: #e1727b99;
$color-accent-breadcrumb: #fa8d95;
$color-accent-error: #ff5252;
$color-success: #00af66;
$color-fail: #ff262a;
$color-warning: #f6d24d;
$color-blue: #3a84ff;
$color-secondary: #7a81ff;
$color-secondary-focus: #8d91e499;
$color-tertiary: #3cc8c3;
$color-badge: #17ead9;
$color-overlay: #fff5f6;
$color-booked: #91a2bc;
$color-text-dark: #606060;
$color-text-value: #f6d05a;
$color-progress-bg: #d8d8d8;
$color-disabled: #f9f9f9;
$color-header: #e0e0e050;
$color-expansion-panel-bg: #e0e0e035;
$color-close: #9e9e9e;
$color-file-upload: #00000038;
$color-gold: #f5c007;
$color-active: #ffc53d;
// STATUS COLORS
$color-status-delivered: #5af662;
$color-status-canceled: #ff913c;
$color-status-rejected: #f10613;
$color-status-approved: #d22be0;
$color-status-pending: #f6d05a;
$color-status-returned: #606060;
$color-status-shipping: #927476;
$color-status-completed: #52c41a;

$gradient-accent: linear-gradient(to top, #f6d05a, #fde776);

$box-shadow: 0 0 30px 0 rgba(76, 147, 230, 0.1);

//fonts
$font-light: "Font Light";
$font-regular: "Poppins";
$font-medium: "Font Medium";
$font-bold: "Font Bold";
$font-bolder: "Font Bolder";

// Heights
$size-12: 12px;
$size-20: 20px;
$h-form-input: 64px;
$h-button-md: 3rem;
$h-table-row: 72px;
$h-table-row-mobile: 30px;
