<template>
  <v-data-table
    :headers="headers"
    :loading="loadingDataTable"
    :items="orders"
    :mobile-breakpoint="zero"
    :items-per-page="200"
    hide-default-footer
    class="table teams mx-5"
  >
    <template v-slot:item="{ item }">
      <tr class="table__row cursor-pointer">
        <td class="table__cell text-center">
          {{ item ? item.id : "--" }}
        </td>
        <td class="table__cell text-center">
          <span v-if="locale == 'en'">
            {{ item.name ? item.name.en : "--" }}
          </span>
          <span v-else>
            {{ item.name ? item.name.ar : "--" }}
          </span>
        </td>

        <td class="table__cell text-center">
          {{ item.date || "--" }}
        </td>

        <td class="table__cell text-center">
          <span>{{ item ? item.reason : "--" }}</span>
        </td>

        <td class="table__cell text-center">
          <v-btn
            color="primary"
            class="text-capitalize bg-purple"
            text
            small
            :to="{ name: 'currentRequestDetails', params: { id: item.id } }"
            ><strong>{{ $t("details") }}</strong></v-btn
          >
        </td>
      </tr>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    headers: {
      type: Array,
      default: () => []
    },
    orders: {
      type: Array,
      default: () => []
    },
    loadingDataTable: {
      type: Boolean,
      default: false
    },
    locale: {
      type: String,
      default: "en"
    }
  },
  data() {
    return {
      zero: 0
    };
  }
};
</script>

<style lang="scss" scoped></style>
