<template>
  <main class="bg-gray">
    <v-container fluid>
      <h2 class="my-10">{{ $t("nots") }}</h2>
      <p v-if="loadingDataTable">{{ $t("loading") }}</p>
      <v-list v-else>
        <v-btn
          color="primary"
          large
          @click="markAsRead"
          text
          class="text-capitalize mb-12 mx-auto"
          >{{ $t("mark_as_read") }}</v-btn
        >
        <template v-if="nots.length > 0">
          <v-list-item
            v-for="(item, i) in nots"
            :key="i"
            class="py-2 bordered-bottom"
            @click="readNot(item)"
          >
            <v-icon small :color="item.read == true ? '#ddd' : 'success'"
              >mdi-circle</v-icon
            >
            <article class="mx-2">
              <h4 v-html="locale == 'ar' ? item.title.ar : item.title.en"></h4>
              <p
                class="mb-0"
                v-html="locale == 'ar' ? item.note.ar : item.note.en"
              ></p>
            </article>
            <v-spacer></v-spacer>
            <span>{{ item.published_from || "" }}</span>
            <!-- {{ item }} -->
          </v-list-item>
        </template>
        <p v-else class="pa-5 pt-0">{{ $t("no_notifications_found") }}</p>
      </v-list>
      <!-- pagination -->
      <!-- <div class="text-xs-center my-10">
        <v-pagination
          v-if="nots.length > 0 && pagination.last_page > 1"
          v-model="pagination.current_page"
          :length="pagination.last_page || 1"
          :total-visible="20"
          @input="handlePagination"
        ></v-pagination>
      </div> -->
      <!-- pagination -->
    </v-container>
  </main>
</template>

<script>
import TableHeaders from "@/helpers/TableHeaders";
import { IndexDataQuery, ShowData } from "@/helpers/apiMethods";
import { isEqual } from "lodash";
import cookie from "js-cookie";

export default {
  data() {
    return {
      zero: 0,
      dialog: false,
      headers: [],
      nots: [],
      loadingDataTable: false,
      loadingData: false,
      pagination: {},
      queries: {},
      locale: cookie.get("language") || "en"
    };
  },
  created() {
    this.createTableHeaders();
  },
  methods: {
    readNot(item) {
      ShowData({
        reqName: `admin/notification`,
        id: item.id
        // locale: this.locale
      })
        .then(() => {
          item.read = !item.read;
        })
        .catch(() => {});
      if (item.order_id == 0) {
        this.$router.push(`/current-requests/${item.product_request_id}`);
      } else if (item.product_request_id == 0) {
        this.$router.push(`/orders/${item.order_id}`);
      }
    },
    markAsRead() {
      IndexDataQuery({ reqName: "admin/notification/read-all" })
        .then(() => {
          this.indexNots();
        })
        .catch(() => {})
        .finally(() => {});
    },
    indexNots(query) {
      this.loadingDataTable = true;

      IndexDataQuery({ reqName: "admin/notification", query })
        .then(res => {
          const { notifies } = res.data;
          this.nots = notifies;
          // this.pagination = meta;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    back() {
      history.go(-1);
    },
    createTableHeaders() {
      const headersList = [
        "id",
        "user_name",
        "address",
        "created_at",
        "total",
        "status",
        "details"
      ];
      this.headers = TableHeaders(headersList);
    },
    showCompany({ slug }) {
      if (this.$route.name == "accounts") {
        this.$router.push(`/accounts/${slug}`);
      } else {
        this.$router.push(`/nots/${slug}`);
      }
    },
    handlePagination(page) {
      this.queries = { ...this.queries, page };
      if (!isEqual(this.queries, this.$route.query)) {
        this.$router.push({ query: this.queries });
      }
    },
    endCallBack() {},
    startCallBack() {}
  },
  watch: {
    $route: {
      handler(route) {
        const { query } = route;
        this.queries = query;
        this.pagination.current_page = query.page;
        this.indexNots(query);
      },
      immediate: true
    }
  }
};
</script>
