<template>
  <main>
    <h1 class="d-flex">
      <span>{{ $t("configs") }}</span>
    </h1>
    <v-row>
      <v-col lg="10" class="mx-auto">
        <v-alert v-if="globalServerErrors !== null" dense outlined type="error">
          <p
            class="mb-0"
            v-for="globalErr in globalServerErrors"
            :key="globalErr"
          >
            {{ globalErr[0] }}
          </p>
        </v-alert>
        <formWrapper :validator="$v.configs">
          <form @submit.prevent="handleSave" class="form-box">
            <v-row>
              <v-col class="py-0 mt-sm-6" cols="12" sm="6">
                <form-group name="app_ratio" :attribute="`fields.app_ratio`">
                  <template slot-scope="{ attrs, listeners }">
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      outlined
                      v-model.trim="configs.app_ratio"
                      type="number"
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>
              <v-col class="py-0 mt-sm-6" cols="12" sm="6">
                <form-group
                  name="request_time"
                  :attribute="`fields.request_time`"
                >
                  <template slot-scope="{ attrs, listeners }">
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      outlined
                      v-model.trim="configs.request_time"
                      type="number"
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>

              <v-col cols="12">
                <v-btn
                  class="success text-capitalize"
                  large
                  type="submit"
                  width="30%"
                  :loading="submitting"
                  :disabled="$v.configs.$invalid"
                >
                  <span>Save</span></v-btn
                >
              </v-col>
            </v-row>
          </form>
        </formWrapper>
      </v-col>
    </v-row>
  </main>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import { IndexData, UpdateDataId } from "@/helpers/apiMethods";
export default {
  data() {
    return {
      configs: {},
      submitting: false,
      globalServerErrors: null
    };
  },
  created() {
    this.indexConfigs();
  },
  methods: {
    indexConfigs() {
      IndexData({ reqName: `/admin/config` })
        .then(res => {
          const { data } = res.data;
          this.configs = data;
        })
        .catch(() => {})
        .finally(() => {});
    },
    handleSave() {
      const formData = new FormData();
      this.submitting = true;
      Object.keys(this.configs).forEach(formItem => {
        formData.append(formItem, this.configs[formItem]);
      });
      formData.append("_method", "put");

      UpdateDataId({
        reqName: `admin/config`,
        data: formData
      })
        .then(() => {
          this.submitting = false;
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    },

    scrollTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    }
  },
  watch: {
    $route: {
      handler(route) {
        if (route.name === "supplierEdit") {
          this.$nextTick(() => {
            this.handleUserData(route.params.id);
          });
        }
      },
      immediate: true,
      deep: true
    }
  },
  validations: {
    configs: {
      app_ratio: {
        required
      },
      request_time: {
        required
      }
    }
  }
};
</script>
<style lang="scss">
@media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  #printed {
    display: none !important;
  }
}

// .child-card {
//   &__name {
//     font-size: 15px;
//   }
// }
</style>
