<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-10">{{ $t("orders") }}</h2>
      <v-data-table
        :headers="headers"
        :loading="loadingDataTable"
        :items="orders"
        :mobile-breakpoint="zero"
        :items-per-page="200"
        hide-default-footer
        class="table teams mx-5"
      >
        <template v-slot:item="{ item }">
          <tr class="table__row cursor-pointer">
            <td class="table__cell text-center">
              {{ item ? item.id : "--" }}
            </td>
            <td class="table__cell text-center">
              {{ item ? item.vin_number : "--" }}
            </td>
            <td class="table__cell text-center">
              {{ item.user ? item.user.name : "--" }}
            </td>
            <td class="table__cell text-center">
              <span>{{ item ? item.address : "--" }}</span>
              <span v-if="item.address == ''">---</span>
            </td>
            <td class="table__cell text-center">
              {{ item.created_at || "--" }}
            </td>

            <td class="table__cell text-center">
              <span>{{
                item.order_summery ? item.order_summery.total_price : "--"
              }}</span>
              <span class="mx-2">AED</span>
            </td>

            <td class="table__cell text-center">
              <v-chip
                v-if="item.status == 'in_progress'"
                class="text-capitalize bg-purple radius-12"
                color="primary"
              >
                {{ $t(`${item.status}`) }}
              </v-chip>
              <v-chip
                v-else-if="item.status == 'completed'"
                class="text-capitalize radius-12"
                color="success"
              >
                {{ $t(`${item.status}`) }}
              </v-chip>
            </td>
            <td class="table__cell text-center">
              <v-btn
                color="primary"
                class="text-capitalize bg-purple"
                text
                small
                :to="{ name: 'orderDetails', params: { id: item.id } }"
                ><strong>{{ $t("details") }}</strong></v-btn
              >
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- pagination -->
      <div class="text-xs-center my-10">
        <v-pagination
          v-if="orders.length > 0 && pagination.last_page > 1"
          v-model="pagination.current_page"
          :length="pagination.last_page || 1"
          :total-visible="20"
          @input="handlePagination"
        ></v-pagination>
      </div>
      <!-- pagination -->
    </v-container>
  </main>
</template>

<script>
import TableHeaders from "@/helpers/TableHeaders";
import { IndexData } from "@/helpers/apiMethods";
import { isEqual } from "lodash";
import cookie from "js-cookie";

export default {
  data() {
    return {
      zero: 0,
      dialog: false,
      headers: [],
      orders: [],
      loadingDataTable: false,
      loadingData: false,
      pagination: {},
      queries: {},
      locale: cookie.get("language") || "en"
    };
  },
  components: {
    // InputFilter: () => import("./components/InputFilter"),
  },
  created() {
    this.createTableHeaders();
  },
  methods: {
    indexorders(query) {
      this.loadingDataTable = true;

      IndexData({ reqName: "admin/order", query })
        .then(res => {
          const { data, meta } = res.data;
          this.orders = data;
          this.pagination = meta;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    back() {
      history.go(-1);
    },
    createTableHeaders() {
      const headersList = [
        "id",
        "vin_number",
        "user_name",
        "address",
        "created_at",
        "total",
        "status",
        "details"
      ];
      this.headers = TableHeaders(headersList);
    },
    showCompany({ slug }) {
      if (this.$route.name == "accounts") {
        this.$router.push(`/accounts/${slug}`);
      } else {
        this.$router.push(`/orders/${slug}`);
      }
    },
    handlePagination(page) {
      this.queries = { ...this.queries, page };
      if (!isEqual(this.queries, this.$route.query)) {
        this.$router.push({ query: this.queries });
      }
    },
    endCallBack() {},
    startCallBack() {}
  },
  watch: {
    $route: {
      handler(route) {
        const { query } = route;
        this.queries = query;
        this.pagination.current_page = query.page;
        this.indexorders(query);
      },
      immediate: true
    }
  }
};
</script>
