<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-10 d-flex justify-space-between">
        <span>{{ $t("suppliers") }}</span>
        <v-btn
          v-if="type == 'SUPER_ADMIN'"
          color="primary"
          class="text-capitalize"
          :to="{ name: 'supplierAdd' }"
          >{{ $t("add_supplier") }}</v-btn
        >
      </h2>
      <v-data-table
        :headers="headers"
        :loading="loadingDataTable"
        :items="suppliers"
        :mobile-breakpoint="zero"
        :items-per-page="200"
        hide-default-footer
        class="table teams mx-5"
      >
        <template v-slot:item="{ item, index }">
          <tr class="table__row cursor-pointer">
            <td class="table__cell text-center">
              {{ item ? item.id : "--" }}
            </td>
            <td class="table__cell text-center">
              <span>
                {{ item ? item.name : "--" }}
              </span>
            </td>
            <td class="table__cell text-center">
              <span>
                {{ item ? item.phone : "--" }}
              </span>
            </td>

            <td class="table__cell text-center">
              <v-avatar size="40">
                <img
                  :src="item.avatar_url || ''"
                  class="cursor-pointer"
                  @click="showImagePreview(item.avatar_url)"
                  alt=""
                />
              </v-avatar>
            </td>
            <td class="table__cell text-center">
              <span v-if="locale == 'en'">
                {{ item.country.name ? item.country.name.en : "--" }}
              </span>
              <span v-else>
                {{ item.country.name ? item.country.name.ar : "--" }}
              </span>
            </td>
            <td class="table__cell text-center">
              <span v-if="locale == 'en'">
                {{ item.city.name ? item.city.name.en : "--" }}
              </span>
              <span v-else>
                {{ item.city.name ? item.city.name.ar : "--" }}
              </span>
            </td>
            <td class="table__cell text-center">
              {{ item.email || "--" }}
            </td>

            <td
              class="table__cell text-center d-flex align-center justify-center"
            >
              <v-btn
                color="success"
                class="text-capitalize"
                icon
                small
                @click="charge(item)"
                ><v-icon small>mdi-cash-usd-outline</v-icon></v-btn
              >
              <v-btn
                color="primary"
                class="text-capitalize"
                icon
                small
                :to="{ name: 'supplierEdit', params: { id: item.id } }"
                ><v-icon small>mdi-pencil</v-icon></v-btn
              >
              <v-btn icon small>
                <v-icon class="delete" small @click="handleDelete(item, index)">
                  mdi-delete
                </v-icon></v-btn
              >
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- pagination -->
      <!-- <div class="text-xs-center my-10">
        <v-pagination
          v-if="suppliers.length > 0 && pagination.last_page > 1"
          v-model="pagination.current_page"
          :length="pagination.last_page || 1"
          :total-visible="20"
          @input="handlePagination"
        ></v-pagination>
      </div> -->
      <!-- pagination -->
    </v-container>
    <global-image-preview
      :showDialog="imageOverlay"
      :imagePath="currentPreviewImage"
      @closePreview="imageOverlay = false"
    />

    <v-dialog v-model="dialog" width="500px">
      <v-card class="pa-8">
        <formWrapper :validator="$v.form">
          <form @submit.prevent="handleSave" class="form-box">
            <v-row>
              <v-col class="py-0" cols="12">
                <form-group name="amount" :attribute="`fields.amount`">
                  <template slot-scope="{ attrs, listeners }">
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      outlined
                      v-model.trim="form.amount"
                      type="number"
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>

              <v-col cols="12">
                <v-btn
                  class="success text-capitalize"
                  large
                  type="submit"
                  width="30%"
                  :disabled="$v.form.$invalid"
                  ><span>Save</span>
                </v-btn>
              </v-col>
            </v-row>
          </form>
        </formWrapper>
      </v-card>
    </v-dialog>
  </main>
</template>

<script>
import TableHeaders from "@/helpers/TableHeaders";
import { IndexDataQuery, DeleteData, UpdateDataId } from "@/helpers/apiMethods";
import { isEqual } from "lodash";
import cookie from "js-cookie";
import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      zero: 0,
      supplierId: "",
      dialog: false,
      headers: [],
      suppliers: [],
      loadingDataTable: false,
      imageOverlay: false,
      currentPreviewImage: "",
      loadingData: false,
      pagination: {},
      queries: {},
      form: {},
      locale: cookie.get("language") || "en",
      type: localStorage.getItem("user_role")
    };
  },
  components: {
    // InputFilter: () => import("./components/InputFilter"),
  },
  created() {
    this.createTableHeaders();
  },
  methods: {
    indexsuppliers(query) {
      this.loadingDataTable = true;

      IndexDataQuery({ reqName: "admin/supplier", query })
        .then(res => {
          const { data, meta } = res.data;
          this.suppliers = data;
          this.pagination = meta;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    back() {
      history.go(-1);
    },
    charge(item) {
      this.dialog = true;
      this.supplierId = item.id;
    },
    createTableHeaders() {
      const headersList = [
        "id",
        "name",
        "phone",
        "image",
        "country",
        "city",
        "email",
        "actions"
      ];
      this.headers = TableHeaders(headersList);
    },

    handlePagination(page) {
      this.queries = { ...this.queries, page };
      if (!isEqual(this.queries, this.$route.query)) {
        this.$router.push({ query: this.queries });
      }
    },
    endCallBack() {},
    startCallBack() {},
    handleSave() {
      UpdateDataId({
        reqName: `admin/supplier/${this.supplierId}/charge_credit`,
        data: {
          amount: this.form.amount
        }
      })
        .then(() => {
          this.dialog = false;
          this.form = {};
        })
        .catch(() => {})
        .finally(() => {});
    },
    showImagePreview(image) {
      if (image) {
        this.currentPreviewImage = image;
        this.imageOverlay = true;
      }
    },
    handleDelete({ id }, index) {
      this.popUp().then(value => {
        if (!value.dismiss) {
          DeleteData({ reqName: `admin/supplier`, id: id })
            .then(() => {
              this.suppliers.splice(index, 1);
            })
            .catch(err => console.log(err));
        }
      });
    }
  },
  watch: {
    $route: {
      handler(route) {
        const { query } = route;
        this.queries = query;
        this.pagination.current_page = query.page;
        this.indexsuppliers(query);
      },
      immediate: true
    }
  },
  validations: {
    form: {
      amount: {
        required
      }
    }
  }
};
</script>
