<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <!-- <h2 class="px-5 my-5">{{ $t("order_details") }}</h2> -->
      <v-card class="mx-5 pb-1 px-6 my-6" :loading="loading">
        <v-row v-if="!loading" class="py-6">
          <v-col cols="12">
            <p class="d-sm-flex justify-end">
              <v-btn
                color="error"
                large
                class="text-capitalize ma-4 radius-12"
                @click="rejectOrder"
                ><span class="px-4">{{ $t("reject") }}</span>
                <vue-countdown-timer
                  @start_callback="startCallBack('event started')"
                  @end_callback="endCallBack('event ended')"
                  :start-time="'2020-10-10 00:00:00'"
                  :end-time="request.end_time"
                  :interval="1000"
                  :start-label="'Until start:'"
                  :end-label="''"
                  label-position="begin"
                  :end-text="'Event ended!'"
                  :day-txt="':'"
                  :hour-txt="':'"
                  :minutes-txt="':'"
                  :seconds-txt="''"
                >
                </vue-countdown-timer
              ></v-btn>
              <v-btn
                color="success"
                large
                class="text-capitalize ma-4 radius-12"
                @click="acceptOrder"
                ><span class="px-4">{{ $t("accept") }}</span>
                <vue-countdown-timer
                  @start_callback="startCallBack('event started')"
                  @end_callback="endCallBack('event ended')"
                  :start-time="'2020-10-10 00:00:00'"
                  :end-time="request.end_time"
                  :interval="1000"
                  :start-label="'Until start:'"
                  :end-label="''"
                  label-position="begin"
                  :end-text="'Event ended!'"
                  :day-txt="':'"
                  :hour-txt="':'"
                  :minutes-txt="':'"
                  :seconds-txt="''"
                >
                </vue-countdown-timer
              ></v-btn>
            </p>
          </v-col>
          <v-col lg="4" md="5" sm="6" cols="12">
            <p>{{ $t("part_img") }}</p>
            <img
              class="bordered"
              :src="request.images_urls[0] || ''"
              alt=""
              width="100%"
            />
            <p class="mt-4">{{ $t("part_category_img") }}</p>
            <img
              :src="
                request.part_category ? request.part_category.image_url : ''
              "
              alt=""
              width="100%"
              class="bordered"
            />
          </v-col>
          <v-col lg="8" md="7" sm="6" cols="12">
            <p>
              <span>{{ $t("product_id") }}</span>
              <strong>{{ request ? request.product_id : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("order_name") }}</span>
              <strong>
                <span v-if="locale == 'en'">
                  {{ request.name ? request.name.en : "--" }}
                </span>
                <span v-else>
                  {{ request.name ? request.name.ar : "--" }}
                </span>
              </strong>
            </p>
            <p>
              <span>{{ $t("order_from") }}</span>
              <strong>{{ request.user ? request.user.name : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("order_date") }}</span>
              <strong>{{ request ? request.created_at : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("car_model") }}</span>
              <strong>
                <span v-if="locale == 'en'">
                  {{
                    request.car_brand.name ? request.car_brand.name.en : "--"
                  }}
                  -
                  {{
                    request.car_brand_model.name
                      ? request.car_brand_model.name.en
                      : "--"
                  }}
                </span>
                <span v-else>
                  {{
                    request.car_brand.name ? request.car_brand.name.ar : "--"
                  }}
                  -
                  {{
                    request.car_brand_model.name
                      ? request.car_brand_model.name.ar
                      : "--"
                  }}
                </span>
              </strong>
              <img
                :src="request.car_brand ? request.car_brand.image_url : ''"
                alt=""
                width="50px"
                class="mx-4"
              />
            </p>

            <p>
              <span>{{ $t("part_no") }}</span>
              <strong>
                {{ request ? request.part_number : "--" }}
              </strong>
            </p>
            <p>
              <span>{{ $t("part_category") }}</span>
              <strong>
                <span v-if="locale == 'en'">
                  {{
                    request.part_category.name
                      ? request.part_category.name.en
                      : "--"
                  }}
                </span>
                <span v-else>
                  {{
                    request.part_category.name
                      ? request.part_category.name.ar
                      : "--"
                  }}
                </span>
              </strong>
            </p>
            <p>
              <span>{{ $t("count") }}</span>
              <strong>{{ request ? request.count : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("year") }}</span>
              <strong>{{ request ? request.year : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("order_description") }}</span>
              <br />
              <strong>
                <span v-if="locale == 'en'">
                  {{ request.description ? request.description.en : "--" }}
                </span>
                <span v-else>
                  {{ request.description ? request.description.ar : "--" }}
                </span>
              </strong>
            </p>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
    <v-dialog v-model="dialog" width="500px">
      <v-card class="pa-8">
        <formWrapper :validator="$v.form">
          <form @submit.prevent="handleSave" class="form-box">
            <v-row>
              <v-col class="py-0" cols="12">
                <form-group name="price" :attribute="`fields.price`">
                  <template slot-scope="{ attrs, listeners }">
                    <v-text-field
                      v-bind="attrs"
                      v-on="listeners"
                      outlined
                      v-model.trim="form.price"
                      type="text"
                    >
                    </v-text-field>
                  </template>
                </form-group>
              </v-col>

              <v-col cols="12">
                <v-btn
                  class="success text-capitalize"
                  large
                  type="submit"
                  width="30%"
                  :disabled="$v.form.$invalid"
                  ><span>Save</span>
                </v-btn>
              </v-col>
            </v-row>
          </form>
        </formWrapper>
      </v-card>
    </v-dialog>
  </main>
</template>

<script>
import { ShowData, UpdateDataId } from "@/helpers/apiMethods";
import cookie from "js-cookie";
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      request: {},
      form: {
        price: ""
      },
      locale: cookie.get("language") || "en",
      dialog: false,
      loading: false
    };
  },
  methods: {
    show(id, locale) {
      this.loading = true;
      ShowData({
        reqName: `admin/current-requests`,
        id: id,
        locale
      })
        .then(res => {
          const { data } = res.data;
          this.request = data;
          this.loading = false;
        })
        .catch(() => {});
    },
    endCallBack() {},
    startCallBack() {},
    rejectOrder() {
      this.popUp().then(value => {
        if (!value.dismiss) {
          UpdateDataId({
            reqName: `admin/reject-request`,
            data: { product_request_id: this.$route.params.id }
          })
            .then(() => {
              history.go(-1);
            })
            .catch(() => {})
            .finally(() => {});
        }
      });
    },
    acceptOrder() {
      this.dialog = true;
    },
    handleSave() {
      UpdateDataId({
        reqName: `admin/pricing-request`,
        data: {
          product_request_id: this.$route.params.id,
          price: this.form.price
        }
      })
        .then(() => {
          history.go(-1);
          this.dialog = false;
          this.form = {};
        })
        .catch(() => {})
        .finally(() => {});
    }
  },
  watch: {
    $route: {
      handler(route) {
        this.$nextTick(() => {
          this.show(route.params.id);
        });
      },
      immediate: true
    }
  },
  validations: {
    form: {
      price: {
        required
      }
    }
  }
};
</script>
