<template>
  <v-app>
    <v-navigation-drawer permanent fixed expand-on-hover>
      <v-list>
        <v-list-item class="px-2" to="/">
          <img
            height="50px"
            width="50px"
            class="mx-auto my-6"
            :src="require('@/assets/imgs/logo-small.png')"
          />
        </v-list-item>
      </v-list>

      <v-divider></v-divider>
      <v-list nav dense>
        <template v-for="(item, index) in items">
          <v-list-item
            link
            v-if="
              item.admin == 'SUPER_ADMIN' ||
                (item.title != 'suppliers' && item.title != 'settings')
            "
            :key="index"
            :to="{ name: item.link }"
          >
            <v-list-item-icon class="ma-2">
              <v-icon small>{{ item.icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </template>
        <v-list-item link to="/notifications">
          <v-list-item-icon class="ma-2">
            <v-icon small>mdi-bell</v-icon>
            <small class="color-red"> {{ unread_count }} </small>
          </v-list-item-icon>
          <v-list-item-title>
            {{ $t("notifications") }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <div class="pa-2">
          <v-btn
            @click="handleChangeLanguage"
            block
            icon
            :title="$t('button.language')"
          >
            <v-icon>mdi-earth</v-icon>
          </v-btn>
        </div>
        <div class="pa-2">
          <v-btn @click="logout" block icon><i class="icon-logout"></i></v-btn>
        </div>
      </template>
      <!-- <v-list nav dense>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-folder</v-icon>
          </v-list-item-icon>
          <v-list-item-title>My Files</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-account-multiple</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Shared with me</v-list-item-title>
        </v-list-item>
        <v-list-item link>
          <v-list-item-icon>
            <v-icon>mdi-star</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Starred</v-list-item-title>
        </v-list-item>
      </v-list> -->
    </v-navigation-drawer>
    <v-content class="ml-80">
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import cookie from "js-cookie";
import { IndexDataQuery } from "@/helpers/apiMethods";

export default {
  props: {
    source: String
  },
  computed: {
    isRight() {
      if (cookie.get("language") === "ar") {
        return true;
      } else {
        return false;
      }
    }
  },
  data: () => ({
    dialog: false,
    drawer: false,
    group: null,
    unread_count: "",
    items: [
      { icon: "icon-dashboard", link: "dashboard", title: "Dashboard" },
      {
        icon: "mdi-file-document",
        link: "orders",
        title: "orders",
        admin: localStorage.getItem("user_role")
      },
      {
        icon: "mdi-file-document",
        link: "currentRequests",
        title: "current_requests",
        admin: localStorage.getItem("user_role")
      },
      {
        icon: "mdi-chart-pie",
        link: "dashboard",
        title: "statistics",
        admin: localStorage.getItem("user_role")
      },
      {
        icon: "mdi-currency-usd",
        link: "refund",
        title: "refund",
        admin: localStorage.getItem("user_role")
      },
      {
        icon: "mdi-account-multiple",
        link: "suppliers",
        title: "suppliers",
        admin: localStorage.getItem("user_role")
      },
      // {
      //   icon: "mdi-bell",
      //   link: "notifications",
      //   title: "notifications",
      //   admin: localStorage.getItem("user_role")
      // },
      {
        icon: "mdi-chat",
        link: "support",
        title: "support",
        admin: localStorage.getItem("user_role")
      },
      {
        icon: "mdi-account",
        link: "profile",
        title: "Profile",
        admin: localStorage.getItem("user_role")
      },
      {
        icon: "mdi-cog",
        link: "settings",
        title: "settings",
        admin: localStorage.getItem("user_role")
      }
    ]
  }),
  created() {
    this.indexNots();
  },
  methods: {
    handleChangeLanguage() {
      const lang = cookie.get("language");
      if (lang === "ar") {
        this.changeCookie("en");
      } else {
        this.changeCookie("ar");
      }
    },
    changeCookie(lang) {
      cookie.set("language", lang);
      window.location.reload();
    },
    logout() {
      this.$store.dispatch("LogOut").then(() => {
        location.reload(); // In order to re-instantiate the vue-router object to avoid bugs
      });
    },
    indexNots(query) {
      this.loadingDataTable = true;

      IndexDataQuery({ reqName: "admin/notification", query })
        .then(res => {
          const { unread_count } = res.data;
          this.unread_count = unread_count;
          // this.pagination = meta;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    }
  }
};
</script>
