// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
* {
  font-family: $font-regular !important;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

// @media (min-width: 1904px) {
//   .container {
//     max-width: 1440px !important;
//   }
// }

/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;
}
.theme--light.v-app-bar.v-toolbar.v-sheet {
  background-color: white;
  box-shadow: none;
}
.shade {
  box-shadow: 0 0 25px 0 #2fba93;
}
.v-data-table-header__icon { 
  opacity: 1 !important;
  font-size: 14px !important;
}

aside.v-navigation-drawer--mini-variant {
  width: 80px !important;
  .v-list-item {
    justify-content: center !important;
    &__icon {
      color: #b1b9c3 !important;
    }
  }
  .v-list-item--active {
    background: white !important;
    .v-list-item__icon {
      color: #293588 !important;
    }
  }
  .v-list-item--link:before {
    background-color: white !important;
  }
}
.v-application--is-rtl {
  .ml-80 {
    margin-left: 0 !important;
    margin-right: 80px !important;
    background-color: #f2f7f9;
  }
}
.ml-80 {
  margin-left: 80px;
  background-color: #f2f7f9;
}
.gray-border {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.toolbar-adjust {
  box-shadow: none !important;
  border-bottom: 1px solid #ddd !important;
}
.cursor-pointer {
  cursor: pointer;
}
.radius-12 {
  border-radius: 12px !important;
}
.major-description {
  p {
    display: inline-block;
    margin-right: 4px;
    margin-bottom: 0;
  }
}