// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  //   max-width: $max-width; /* 1 */
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0; /* 1 */
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.blue-name {
  color: $primary;
}

.v-avatar.square {
  border-radius: 0;
  cursor: pointer;
  img {
    padding: 0.33rem;
  }
}

.icon-active {
  font-size: $size-20;
  color: $color-active;
}
.icon-inactive {
  font-size: $size-20;
  color: black;
}

::-webkit-scrollbar-thumb {
  background: #060e49;
  border-radius: 20px;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.size-12 {
  font-size: $size-12;
}
.size-24 {
  font-size: 24px !important;
}
.orders-icon {
  padding: 10px;
  background-color: rgb(254, 197, 61, 0.25);
  border-radius: 20px;
}
.requests-icon {
  padding: 10px;
  background-color: rgba($color: #4ad991, $alpha: 0.25);
  border-radius: 20px;
}
.refunds-icon {
  padding: 10px;
  background-color: rgba($color: #ff9066, $alpha: 0.25);
  border-radius: 20px;
}
.pending-icon {
  padding: 10px;
  background-color: rgba($color: #487dce, $alpha: 0.25);
  border-radius: 20px;
}
.expired-icon {
  padding: 10px;
  background-color: rgba($color: red, $alpha: 0.25);
  border-radius: 20px;
}
.priced-icon {
  padding: 10px;
  background-color: rgba($color: #2fb68f, $alpha: 0.25);
  border-radius: 20px;
}
.rejected-icon {
  padding: 10px;
  background-color: rgba($color: #ff5252, $alpha: 0.15);
  border-radius: 20px;
}
.no-shade {
  box-shadow: none !important;
}
.primary-color {
  color: $primary !important;
}
.bg-primary {
  background-color: $primary !important;
}
.bg-purple {
  background-color: rgba($color: $primary, $alpha: 0.2);
}
