
.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-clipboard-list:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-dashboard:before { content: '\e806'; } /* '' */
.icon-deals:before { content: '\e807'; } /* '' */
.icon-edit-2:before { content: '\e808'; } /* '' */
.icon-filter:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-long-arrow-alt-left:before { content: '\e80b'; } /* '' */
.icon-long-arrow-alt-left-1:before { content: '\e80c'; } /* '' */
.icon-path-20:before { content: '\e80d'; } /* '' */
.icon-path-21:before { content: '\e80e'; } /* '' */
.icon-replay:before { content: '\e80f'; } /* '' */
.icon-report:before { content: '\e810'; } /* '' */
.icon-target:before { content: '\e811'; } /* '' */
.icon-time:before { content: '\e812'; } /* '' */
.icon-user-alt:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */