@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?52072177');
  src: url('../font/fontello.eot?52072177#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?52072177') format('woff2'),
       url('../font/fontello.woff?52072177') format('woff'),
       url('../font/fontello.ttf?52072177') format('truetype'),
       url('../font/fontello.svg?52072177#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?52072177#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add:before { content: '\e800'; } /* '' */
.icon-arrow-down:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e803'; } /* '' */
.icon-clipboard-list:before { content: '\e804'; } /* '' */
.icon-close:before { content: '\e805'; } /* '' */
.icon-dashboard:before { content: '\e806'; } /* '' */
.icon-deals:before { content: '\e807'; } /* '' */
.icon-edit-2:before { content: '\e808'; } /* '' */
.icon-filter:before { content: '\e809'; } /* '' */
.icon-logout:before { content: '\e80a'; } /* '' */
.icon-long-arrow-alt-left:before { content: '\e80b'; } /* '' */
.icon-long-arrow-alt-left-1:before { content: '\e80c'; } /* '' */
.icon-path-20:before { content: '\e80d'; } /* '' */
.icon-path-21:before { content: '\e80e'; } /* '' */
.icon-replay:before { content: '\e80f'; } /* '' */
.icon-report:before { content: '\e810'; } /* '' */
.icon-target:before { content: '\e811'; } /* '' */
.icon-time:before { content: '\e812'; } /* '' */
.icon-user-alt:before { content: '\e813'; } /* '' */
.icon-users:before { content: '\e814'; } /* '' */