<template>
  <main>
    <v-container>
      <UserForm />
    </v-container>
  </main>
</template>

<script>
export default {
  data() {
    return {
      search: null
    };
  },
  components: {
    UserForm: () => import("./components/Form")
  }
};
</script>
