.main-header {
  // background-color: transparent !important;
  padding: 0 !important;
  height: auto !important;
  border-bottom: 1pxx solid #dddddd !important;
  
  .v-toolbar__content {
    padding: 0;
  }
  &__transparent {
    background-color: transparent !important;
  }
  &__shadow {
    box-shadow: 0 0 1px 0 black;
  }
  &__title {
    &__back-link {
      text-decoration: none;
      color: $color-blue;
    }
    &__header {
      text-transform: uppercase;
      margin-top: 4px;
      line-height: 20px;
    }
    //   line-height: 17px;
    font-size: 14px;
  }
  &__contents {
    .v-btn {
      height: 2.6rem !important;
      border-radius: 3px;
      // font-size: 1rem;
      // font-family: $font-bold;
    }
  }
  padding: 1rem;
  background-color: $color-white;
}
