.v-dialog__content {
  .v-dialog {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}
.modal-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  span {
    font-weight: normal;
    color: gray;
    cursor: pointer;
    font-size: 18px;
  }
}
.color-gray {
  color: rgba($color: #202224, $alpha: 0.7);
}
.color-white {
  color: white;
}
.successful {
  color: #78c37c;
}
.err {
  color: red;
}
