.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}
.font-bold {
  font-weight: bold !important;
}
.h-100 {
  min-height: 100vh;
}
.login-form {
  width: 75%;
  margin: auto;
}
.color-red {
  color: red !important;
}
.max-w-75 {
  max-width: 75%;
}
.bg-light-gray {
  background-color: #f0f0f6 !important;
  border-bottom-right-radius: 0 !important;
}
.left-radius-0 {
  border-bottom-left-radius: 0 !important;
}
.chat-card {
  position: relative;
  .form-area {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    .v-text-field__details {
      display: none !important;
    }
  }
  .h-overflow {
    overflow-y: scroll;
    max-height: 75vh;
    margin-bottom: 4rem;
  }
}
.hooper {
  height: auto !important;
  ul {
    padding-left: 0 !important;
  }
}
.number-input {
  &__button {
    // width: 56px !important;
    background-color: $primary !important;
    &:after {
      height: 10px !important;
      width: 2px !important;
      background-color: white !important;
    }
    &:before {
      height: 2px !important;
      width: 10px !important;
      background-color: white !important;
    }
  }
  &__input {
    // height: 56px;
    border: 1px solid $primary !important;
  }
  // &:before {
  //   content: "Spots";
  //   top: 0;
  // }
}
.increment-label {
  position: relative;
  margin-top: 17px;
  span {
    position: absolute;
    top: -24px;
    left: 0;
    z-index: 2;
    font-size: 15px;
  }
}
.v-expansion-panel-content__wrap {
  padding: 0;
}
body {
  // background-color: #fbfbfd;
}
.heading-counter {
  color: $secondary;
  font-weight: bold;
  .counter {
    padding: 4px 15px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  @media (max-width: 767px) {
    font-size: 18px;
    .counter {
      padding: 4px 12px;
    }
  }
}
.v-input--is-label-active {
  .v-input__slot {
    background-color: #f2f2f2;
    // border: 1px solid $primary;
  }
}
.v-application--is-rtl {
  .v-navigation-drawer {
    left: auto !important;
    right: 0 !important;
  }
}

// Globals
.form-box {
  .v-input__slot,
  .quillWrapper {
    background-color: white !important;
  }
}
.bordered-bottom {
  border-bottom: 1px solid #ddd;
}
.bordered-left {
  border-left: 1px solid #ddd !important;
}
.v-card {
  box-shadow: none !important;
  border: solid 1px #777;
}
.side-dialog {
  display: flex;
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
.edit-show {
  width: 100%;
}
.list-display {
  .v-list-item {
    min-height: auto !important;
  }
  .v-list-item__content {
    padding: 5px !important;
  }
  .v-list-item__action {
    margin: 0 !important;
  }
}
.transparent-field {
  .v-input--is-label-active {
    .v-input__slot {
      background-color: transparent !important;
    }
  }
  .v-input__slot {
    background-color: transparent !important;
  }
  .v-input__icon--append {
    margin-top: 8px;
    margin-right: 8px;
    i {
      color: $primary !important;
    }
  }
}
.swal2-styled.swal2-confirm {
  background-color: #2fb68f !important;
}
.swal2-styled.swal2-cancel {
  border: 1px solid #aaa !important;
  background-color: #ffffff !important;
  color: #aaa !important;
}
.dark {
  color: $color-dark !important;
}
.bg-white {
  background-color: white !important;
  min-height: 100vh;
}
.bordered {
  border: solid 1px #dedede !important;
}
.shadow-less {
  box-shadow: none !important;
}
.settings-card {
  border-radius: 10px !important;
  &__icon {
    background-color: rgba(45, 182, 143, 0.1);
    border-radius: 50%;
    .v-icon {
      color: #32bb95 !important;
    }
  }
}

.login-slider {
  background-image: linear-gradient(to bottom right, #a750d2, #6822e1);
}

.pt-20 {
  padding-top: 12% !important;
}
.whiten {
  filter: brightness(0) invert(1);
}
.white-opacity {
  background-color: rgba($color: white, $alpha: 0.2);
}
.hooper-pagination {
  position: absolute !important;
  bottom: -36px !important;
  .hooper-indicator {
    background-color: rgba($color: white, $alpha: 0.4);
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  .is-active {
    background-color: white !important;
  }
}
