.v-data-table {
  // padding-top: 2rem;
  border-bottom: 1px solid #ddd;

  &-header {
    tr {
      background-color: rgba(242, 244, 247, 0.3) !important;
      th {
        border-top: 1px solid #ddd;
      }
    }
  }
  .table {
    &-logo {
      img {
        padding: 0.5rem;
      }
    }

    &__row {
      td:last-child {
        transition: all 0.3s ease-in-out;
        .hovering {
          display: inline-block;
        }
      }
      
      td {
        // color: #838789;
        // font-size: 13px;
        // padding: 20px 16px;
        // height: 79px;
        .edit,
        i.mdi-pencil, i.mdi-eye {
          color: $primary !important;
        }
        .delete,
        i.mdi-delete {
          color: red !important;
        }
      }
      .name {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
.red-color {
  color: red !important;
}
.v-tabs-items {
  background-color: transparent !important;
}
.company-tabs {
  .v-toolbar, .v-toolbar__content {
    height: 34px !important;
    box-shadow: none;
    border-radius: 4px;
    overflow: hidden;
    background-color: transparent !important;
  }
  .v-tab {
    flex: 1;
    border: .5px solid #293588;
    color: #293588 !important;
    background-color: white !important;
    &--active {
      background-color: #293588 !important;
      color: white !important;
    }
  }
  .v-tabs-slider {
    display: none !important;
  } 

}