<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-5">{{ $t("order_details") }}</h2>
      <v-card class="mx-5 pb-1 px-6 my-6" :loading="loading">
        <v-row v-if="!loading" class="py-6">
          <v-col sm="6">
            <p>
              <span>{{ $t("order_from") }}</span>
              <strong>{{ order.user ? order.user.name : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("order_address") }}</span>
              <strong>{{ order ? order.address : "" }}</strong>
            </p>
            <p>
              <span>{{ $t("order_date") }}</span>
              <strong>{{ order ? order.created_at : "" }}</strong>
            </p>
          </v-col>
          <v-col cols="12">
            <v-data-table
              :headers="headers"
              :loading="loadingDataTable"
              :items="order.products"
              :mobile-breakpoint="0"
              :items-per-page="200"
              hide-default-footer
              class="table teams mx-5"
            >
              <template v-slot:item="{ item }">
                <tr class="table__row">
                  <td class="table__cell text-center">
                    {{ item ? item.product_id : "--" }}
                  </td>
                  <td class="table__cell text-center">
                    <span v-if="item.vin_number != ''">
                      {{ item ? item.vin_number : "--" }}
                    </span>
                    <span v-else>---</span>
                  </td>

                  <td class="table__cell text-center">
                    <v-avatar size="50">
                      <v-img
                        class="cursor-pointer"
                        v-if="item.images_urls.length > 0"
                        :src="item ? item.images_urls[0] : '--'"
                        @click="showImagePreview(item.images_urls[0])"
                      ></v-img>
                      <span v-else>--</span>
                    </v-avatar>
                  </td>
                  <td class="table__cell text-center">
                    <read-more
                      v-if="locale == 'en'"
                      more-str="more"
                      less-str="less"
                      :max-chars="30"
                      :text="item.description ? item.description.en : '--'"
                      class="mb-0 major-description m-b-0"
                    ></read-more>
                    <read-more
                      v-else
                      more-str="more"
                      less-str="less"
                      :max-chars="30"
                      :text="item.description ? item.description.ar : '--'"
                      class="mb-0 major-description m-b-0"
                    ></read-more>
                  </td>
                  <td class="table__cell text-center">
                    {{ item ? item.count : "--" }}
                  </td>
                  <td class="table__cell text-center">
                    <v-chip outlined class="radius-12" color="#707070"
                      >{{ item ? item.total_price : "--" }}
                      <span class="mx-1">AED</span></v-chip
                    >
                  </td>
                </tr>
              </template>
            </v-data-table>
          </v-col>
          <v-col cols="12" class="text-right px-sm-12">
            <!-- <p>
              <strong>
                {{ $t("delivery_charges") }}
                <span
                  >{{
                    order.order_summery
                      ? order.order_summery.delivery_charges
                      : ""
                  }}

                  <span class="mx-1">AED</span>
                </span>
              </strong>
            </p>
            <p>
              <strong>
                {{ $t("promotion_discount") }}
                <span>{{
                  order.order_summery
                    ? order.order_summery.promotion_discount
                    : ""
                }}</span>
                <span class="mx-1">AED</span>
              </strong>
            </p>
            <p>
              <strong>
                {{ $t("subtotal") }}
                <span>{{
                  order.order_summery ? order.order_summery.subtotal : ""
                }}</span>
                <span class="mx-1">AED</span>
              </strong>
            </p>
            <v-divider class="mb-5"></v-divider> -->
            <p>
              <strong>
                {{ $t("total") }}
                <span>{{
                  order.order_summery ? order.order_summery.total_price : ""
                }}</span>
                <span class="mx-1">AED</span>
              </strong>
            </p>
          </v-col>
        </v-row>
      </v-card>
    </v-container>

    <global-image-preview
      :showDialog="imageOverlay"
      :imagePath="currentPreviewImage"
      @closePreview="imageOverlay = false"
    />
  </main>
</template>

<script>
import { ShowData, UpdateDataId } from "@/helpers/apiMethods";
import cookie from "js-cookie";
import { required } from "vuelidate/lib/validators";
import TableHeaders from "@/helpers/TableHeaders";

export default {
  data() {
    return {
      order: {},
      headers: [],
      form: {
        price: ""
      },
      imageOverlay: false,
      currentPreviewImage: "",
      locale: cookie.get("language") || "en",
      loadingDataTable: false,
      loading: false
    };
  },
  methods: {
    show(id, locale) {
      this.loading = true;
      ShowData({
        reqName: `admin/order`,
        id: id,
        locale
      })
        .then(res => {
          const { data } = res.data;
          this.order = data;
          this.loading = false;
        })
        .catch(() => {});
    },
    createTableHeaders() {
      const headersList = [
        "product_id",
        "vin_number",
        "item_photo",
        "description",
        "qty",
        "total_price"
      ];
      this.headers = TableHeaders(headersList);
    },
    rejectOrder() {
      this.popUp().then(value => {
        if (!value.dismiss) {
          UpdateDataId({
            reqName: `admin/reject-request`,
            data: { product_request_id: this.$route.params.id }
          })
            .then(() => {
              history.go(-1);
            })
            .catch(() => {})
            .finally(() => {});
        }
      });
    },
    handleSave() {
      UpdateDataId({
        reqName: `admin/pricing-request`,
        data: {
          product_request_id: this.$route.params.id,
          price: this.form.price
        }
      })
        .then(() => {
          history.go(-1);
          this.form = {};
        })
        .catch(() => {})
        .finally(() => {});
    },
    showImagePreview(image) {
      if (image) {
        this.currentPreviewImage = image;
        this.imageOverlay = true;
      }
    }
  },
  watch: {
    $route: {
      handler(route) {
        this.$nextTick(() => {
          this.show(route.params.id);
          this.createTableHeaders();
        });
      },
      immediate: true
    }
  },
  validations: {
    form: {
      price: {
        required
      }
    }
  }
};
</script>
