<template>
  <v-container fluid class="pa-0">
    <h2 class="px-5 my-10">{{ $t("dashboard") }}</h2>
    <v-row class="px-5">
      <template v-if="!loadingCards">
        <v-col
          cols="12"
          sm="6"
          md="4"
          lg="3"
          v-for="(value, i) in cards_data"
          :key="i"
        >
          <v-card class="pa-4 radius-12">
            <v-row no-gutters>
              <v-col cols="9">
                <p class="mb-2 color-gray">{{ $t(`${i}`) }}</p>
                <p class="mb-0">
                  <strong class="size-24">{{ value }}</strong>
                </p>
              </v-col>
              <v-col cols="3">
                <v-icon
                  large
                  color="#FEC53D"
                  v-if="i == 'in_progress_orders'"
                  class="orders-icon"
                  >mdi-cube</v-icon
                >
                <v-icon
                  large
                  color="#4AD991"
                  v-if="i == 'ordered_requests'"
                  class="requests-icon"
                  >mdi-chart-line</v-icon
                >
                <v-icon
                  large
                  color="#FF9066"
                  v-if="i == 'total_refunds'"
                  class="refunds-icon"
                  >mdi-history</v-icon
                >
                <v-icon
                  large
                  color="#487dce"
                  v-if="i == 'pending_requests'"
                  class="pending-icon"
                  >mdi-quadcopter</v-icon
                >
                <v-icon
                  large
                  color="red"
                  v-if="i == 'expired_requests'"
                  class="expired-icon"
                  >mdi-alert</v-icon
                >
                <v-icon
                  large
                  color="success"
                  v-if="i == 'priced_requests'"
                  class="priced-icon"
                  >mdi-cash</v-icon
                >
                <v-icon
                  large
                  color="error"
                  v-if="i == 'rejected_requests'"
                  class="rejected-icon"
                  >mdi-close-circle-outline</v-icon
                >
                <v-icon
                  large
                  color="error"
                  v-if="i == 'cancelled_orders'"
                  class="rejected-icon"
                  >mdi-close-circle-outline</v-icon
                >
                <v-icon
                  large
                  color="success"
                  v-if="i == 'completed_orders'"
                  class="priced-icon"
                  >mdi-check</v-icon
                >
                <v-icon
                  large
                  color="primary"
                  v-if="i == 'pending_refunds'"
                  class="pending-icon"
                  >mdi-reload</v-icon
                >
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </template>
      <v-col v-else cols="12">
        <p>{{ $t("loading") }}</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { IndexDataQuery } from "@/helpers/apiMethods";

export default {
  name: "Dashboard",
  data() {
    return {
      cards_data: {},
      loadingCards: false
    };
  },
  created() {
    this.indexStatistics();
  },
  methods: {
    indexStatistics() {
      this.loadingCards = true;

      IndexDataQuery({ reqName: "admin/statistics/cards" })
        .then(res => {
          const { data } = res.data;
          this.cards_data = data;
          this.loadingCards = false;
        })
        .catch(() => {})
        .finally(() => {});
    }
  }
};
</script>
