<template>
  <v-card class="pa-5 bordered radius-12 list-display">
    <v-card-title class="py-0 my-5"
      ><h2 class="dark">Address Information</h2></v-card-title
    >
    <v-row no-gutters>
      <v-col sm="5">
        <v-list subheader>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Country
            </v-list-item-content>
            <v-list-item-action>
              {{ company.address ? company.address.country : "--" || "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              State
            </v-list-item-content>
            <v-list-item-action>
              {{ company.address ? company.address.state : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              City
            </v-list-item-content>
            <v-list-item-action>
              {{ company.address ? company.address.city : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Postal Code
            </v-list-item-content>
            <v-list-item-action>
              {{ company.address ? company.address.postal_code : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Street Address
            </v-list-item-content>
            <v-list-item-action>
              {{ company.address ? company.address.name : "--" }}
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    company: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
