<template>
  <main>
    <h1 class="d-flex">
      <span v-if="isEdit">{{ $t("edit_user") }}</span>
      <span v-else>{{ $t("new_user") }}</span>
    </h1>
    <v-row>
      <v-col lg="10" class="mx-auto">
        <v-alert v-if="globalServerErrors !== null" dense outlined type="error">
          <p
            class="mb-0"
            v-for="globalErr in globalServerErrors"
            :key="globalErr"
          >
            {{ globalErr[0] }}
          </p>
        </v-alert>
        <formWrapper :validator="$v.form">
          <form @submit.prevent="handleSave" class="form-box">
            <v-row>
              <!-- v-if="isEdit && profileBoolean" -->
              <v-col cols="12" sm="6" class="align-self-center" v-if="isEdit">
                <h3 class="mb-4">{{ $t("logo") }}</h3>
                <section class="file-upload">
                  <new-image-upload
                    class="file-upload__image"
                    :imgUrl="form.avatar_url ? form.avatar_url : ''"
                    :imgId="form.avatar_url ? form.avatar_url : ''"
                    @fileSelected="profileChange"
                    fieldName="mainImgFile"
                    :maxSize="maxSize"
                    :reset="reset"
                  />
                </section>
              </v-col>
              <v-col cols="12" sm="6" class="align-self-center" v-if="isEdit">
                <h3 class="mb-4">{{ $t("licence") }}</h3>
                <section class="file-upload">
                  <new-image-upload
                    class="file-upload__image"
                    :imgUrl="form.licence ? form.licence : ''"
                    :imgId="form.licence ? form.licence : ''"
                    @fileSelected="licenceChange"
                    fieldName="mainImgFile"
                    :maxSize="maxSize"
                    :reset="reset"
                  />
                </section>
              </v-col>

              <template>
                <v-col class="py-0 mt-sm-6" cols="12" sm="6">
                  <form-group name="name" :attribute="`fields.name`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.name"
                        type="text"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col class="py-0 mt-sm-6" cols="12" sm="6">
                  <form-group name="email" :attribute="`fields.email`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.email"
                        type="text"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col class="py-0" cols="12">
                  <form-group name="phone" :attribute="`fields.phone`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.phone"
                        type="text"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col v-if="!isEdit" class="py-0" cols="12" sm="6">
                  <form-group name="password" :attribute="`fields.password`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.password"
                        type="password"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col v-if="!isEdit" class="py-0" cols="12" sm="6">
                  <form-group
                    name="password_confirmation"
                    :attribute="`fields.password_confirmation`"
                  >
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.password_confirmation"
                        type="password"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col class="py-0" cols="12" sm="6">
                  <form-group name="country_id" attribute="fields.country_id">
                    <template slot-scope="{ attrs, listeners }">
                      <v-select
                        :loading="loadingCountries"
                        :items="countries"
                        item-text="name_en"
                        item-value="id"
                        outlined
                        v-bind="attrs"
                        v-on="listeners"
                        v-model="form.country_id.id"
                        @change="getCities"
                      ></v-select>
                    </template>
                  </form-group>
                </v-col>
                <v-col class="py-0" cols="12" sm="6">
                  <form-group name="city_id" attribute="fields.city_id">
                    <template slot-scope="{ attrs, listeners }">
                      <v-select
                        :loading="loadingCities"
                        :items="cities"
                        item-text="name_en"
                        item-value="id"
                        outlined
                        v-bind="attrs"
                        v-on="listeners"
                        :disabled="!form.country_id.id"
                        v-model="form.city_id.id"
                      ></v-select>
                    </template>
                  </form-group>
                </v-col>
              </template>

              <v-col class="py-0" cols="12">
                <form-group name="brand_ids" attribute="fields.brand_ids">
                  <template slot-scope="{ attrs, listeners }">
                    <v-autocomplete
                      :loading="loadingData"
                      :items="brands"
                      item-text="name.en"
                      item-value="id"
                      outlined
                      v-bind="attrs"
                      v-on="listeners"
                      return-object
                      multiple
                      chips
                      v-model="form.brand_ids"
                    ></v-autocomplete>
                  </template>
                </form-group>
              </v-col>
              <v-col class="py-0" cols="12" sm="6">
                <form-group name="address" :attribute="`fields.address`">
                  <template slot-scope="{ attrs, listeners }">
                    <v-textarea
                      v-bind="attrs"
                      v-on="listeners"
                      outlined
                      v-model.trim="form.address"
                    >
                    </v-textarea>
                  </template>
                </form-group>
              </v-col>
              <v-col class="py-0" cols="12" sm="6">
                <form-group
                  name="banking_details"
                  :attribute="`fields.banking_details`"
                >
                  <template slot-scope="{ attrs, listeners }">
                    <v-textarea
                      v-bind="attrs"
                      v-on="listeners"
                      outlined
                      v-model.trim="form.banking_details"
                    >
                    </v-textarea>
                  </template>
                </form-group>
              </v-col>
              <v-col cols="12">
                <v-btn
                  class="success text-capitalize"
                  large
                  type="submit"
                  width="30%"
                  :disabled="!isEdit && $v.form.$invalid"
                  :loading="submitting"
                >
                  <span>Save</span></v-btn
                >
                <v-btn text large color="primary" class="ml-2" @click="back"
                  >Cancel</v-btn
                >
              </v-col>
            </v-row>
          </form>
        </formWrapper>
      </v-col>
    </v-row>
  </main>
</template>

<script>
import {
  required,
  minLength,
  email,
  sameAs
  // maxLength,
  // numeric,
} from "vuelidate/lib/validators";
import {
  IndexData,
  StoreData,
  ShowData,
  UpdateData
} from "@/helpers/apiMethods";
export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        phone: "",
        password: "",
        password_confirmation: "",
        brand_ids: [],
        country_id: {
          id: "",
          name: ""
        },
        city_id: {
          id: "",
          name: ""
        },
        phone_country: {
          code: "",
          name: ""
        },
        is_admin: 0,
        is_blocked: 0,
        is_expert: 0
      },
      brands: [],
      cities: [],

      maxSize: 2.048,
      reset: false,
      submitting: false,
      loadingData: false,
      loadingCountries: false,
      loadingCities: false,
      isEdit: false,
      changeEditBoolean: true,
      profileBoolean: true,
      loadingSave: false,
      is_blocked: 1,
      globalServerErrors: null,
      openCard: false,
      countries: []
    };
  },
  created() {
    this.indexbrands();
    this.indexCountries();
    this.editCreateBoolean();
    // if (this.isEdit === true) {
    //   this.handleUserData();
    // }
  },
  methods: {
    indexbrands() {
      IndexData({ reqName: `/admin/car-brands` })
        .then(res => {
          const { data } = res.data;
          this.brands = data;
        })
        .catch(() => {})
        .finally(() => {});
    },
    indexCountries() {
      this.loadingCountries = true;
      IndexData({ reqName: `/locations/countries` })
        .then(res => {
          const { data } = res.data;
          this.countries = data;
          this.loadingCountries = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    getCities() {
      if (this.form.country_id) {
        this.loadingCities = true;
        IndexData({
          reqName: `/locations/countries/${this.form.country_id.id}/cities`
        })
          .then(res => {
            const { data } = res.data;
            this.cities = data;
            this.loadingCities = false;
          })
          .catch(() => {
            this.loadingCities = false;
          })
          .finally(() => {
            this.loadingCities = false;
          });
      }
    },

    handleSave() {
      this.$route.params.id ? this.editChild() : this.addChild();
    },
    addChild() {
      const formData = new FormData();
      this.submitting = true;
      Object.keys(this.form).forEach(formItem => {
        if (formItem === "country_id" || formItem === "city_id") {
          formData.append(formItem, this.form[formItem].id);
        } else if (formItem === "brand_ids") {
          this.form.brand_ids.map((el, index) => {
            formData.append(`brand_ids[${index}]`, el.id);
          });
        } else if (formItem === null) {
          return "";
        } else {
          formData.append(formItem, this.form[formItem]);
        }
      });
      StoreData({
        reqName: `admin/supplier`,
        data: formData
      })
        .then(() => {
          this.submitting = false;

          history.go(-1);
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    },
    editChild() {
      const formData = new FormData();

      this.submitting = true;
      this.form.brand_ids.map((el, index) => {
        formData.append(`brand_ids[${index}]`, el.id);
      });
      formData.append("_method", "put");
      formData.append("avatar", this.form.avatar_url);
      Object.keys(this.form).forEach(formItem => {
        if (formItem === "country_id" || formItem === "city_id") {
          formData.append(formItem, this.form[formItem].id);
        } else if (formItem === "brand_ids") {
          return;
        } else if (formItem === null) {
          return "";
        } else {
          formData.append(formItem, this.form[formItem]);
        }
      });
      UpdateData({
        reqName: `admin/supplier`,
        data: formData,
        id: this.$route.params.id
      })
        .then(() => {
          this.submitting = false;

          history.go(-1);
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    },
    scrollTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },
    handleUserData() {
      ShowData({
        reqName: "admin/supplier",
        id: this.$route.params.id
      })
        .then(res => {
          const { data } = res.data;
          this.form = { ...data };

          this.form.brand_ids = data.car_brands;
          this.form.country_id = data.country;
          this.getCities();

          this.form.city_id = data.city;
          // this.form.phone = user.phone.phone;
          // this.form.phone_country.name = user.country.name;

          // this.form.phone_country.code = user.phone.code;
          // if (user.brands === null) {
          // }

          // if (user.is_blocked === false) {
          //   this.form.is_blocked = "0";
          // } else {
          //   this.form.is_blocked = "1";
          // }
          // if (user.is_expert === false) {
          //   this.form.is_expert = "0";
          // } else {
          //   this.form.is_expert = "1";
          // }
          // if (user.is_admin === false) {
          //   this.form.is_admin = "0";
          // } else {
          //   this.form.is_admin = "1";
          // }
          // if (child.is_insured === 0) {
          //   this.form.is_insured = "0";
          // } else {
          //   this.form.is_insured = "1";
          // }
          // if (child.is_blocked === 1) {
          //   this.is_blocked = 1;
          // } else {
          //   this.is_blocked = 0;
          // }
          // if (child.medical_comments == null) {
          //   this.form.medical_comments = "";
          // }
          // if (child.memo == null) {
          //   this.form.memo = "";
          // }
          // if (child.email == null) {
          //   this.form.email = "";
          // }
        })
        .catch(() => {});
    },
    back() {
      history.go(-1);
    },
    editCreateBoolean() {
      if (this.$route.params.id) {
        this.isEdit = true;
      } else {
        this.isEdit = false;
      }
    },
    imageChange(photo) {
      this.form.birth_certificate = photo.file;
      this.reset = false;
      this.changeEditBoolean = false;
    },
    profileChange(photo) {
      this.form.avatar_url = photo.file;
      this.reset = false;
      this.profileBoolean = false;
      const formData = new FormData();
      // formData.append("_method", "put");
      formData.append("avatar", this.form.avatar_url);

      UpdateData({
        reqName: `admin/supplier/update-avatar`,
        data: formData,
        id: this.$route.params.id
      })
        .then(res => {
          this.form.avatar_url = res.data.avatar;
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    },
    licenceChange(photo) {
      this.form.licence = photo.file;
      this.reset = false;
      this.profileBoolean = false;
      const formData = new FormData();
      // formData.append("_method", "put");
      formData.append("licence", this.form.licence);

      UpdateData({
        reqName: `admin/supplier/update-licence`,
        data: formData,
        id: this.$route.params.id
      })
        .then(res => {
          this.form.licence = res.data.licence;
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    },

    print() {
      window.print(this.form);
    }
  },
  watch: {
    $route: {
      handler(route) {
        if (route.name === "supplierEdit") {
          this.$nextTick(() => {
            this.handleUserData(route.params.id);
          });
        }
      },
      immediate: true,
      deep: true
    }
  },
  validations: {
    form: {
      name: {
        required,
        minLength: minLength(3)
      },

      password: {
        required
      },
      country_id: {
        required
      },
      city_id: {
        required
      },
      password_confirmation: {
        required,
        sameAsPassword: sameAs("password")
      },
      email: {
        required,
        email
      },
      brand_ids: {
        required
      },
      address: {},
      banking_details: {}
    }
  }
};
</script>
<style lang="scss">
@media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  #printed {
    display: none !important;
  }
}

// .child-card {
//   &__name {
//     font-size: 15px;
//   }
// }
</style>
