<template>
  <v-card class="pa-5 bordered radius-12 list-display">
    <v-card-title class="py-0 my-5"
      ><h2 class="dark">Company Information</h2></v-card-title
    >
    <v-row no-gutters>
      <v-col sm="5">
        <v-list subheader>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Code
            </v-list-item-content>
            <v-list-item-action>
              {{ company ? company.code : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Name
            </v-list-item-content>
            <v-list-item-action>
              {{ company ? company.name : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Contact Person
            </v-list-item-content>
            <v-list-item-action class="d-inline-block">
              <span v-if="company.owner != null">{{
                company.owner.phone ? company.owner.phone.country_code : "--"
              }}</span>
              <span>{{
                company.owner.phone ? company.owner.phone.number : "--"
              }}</span>
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Currency
            </v-list-item-content>
            <v-list-item-action>
              {{ company.main_currency || "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              No Of Employees
            </v-list-item-content>
            <v-list-item-action>
              {{ company.employees_count }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Website URL
            </v-list-item-content>
            <v-list-item-action>
              <a
                v-if="company.website_url != null"
                :href="company.website_url"
                target="_blank"
              >
                {{ company.website_url || "--" }}
              </a>
              <span v-else>--</span>
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Active
            </v-list-item-content>
            <v-list-item-action>
              <span v-if="company.is_active" class="successful">Yes</span>
              <span v-else class="err">No</span>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    company: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
