.form-page {
  .v-card {
    border-radius: 15px !important;
    box-shadow: 0 2px 20px #ccc;
    margin-bottom: 20px;
  }
  .v-card__title {
    background-color: #444;
    color: #fff;
    text-transform: capitalize;
  }
  .v-subheader {
    font-size: 20px;
    text-transform: capitalize;
  }
  iframe {
    border-radius: 15px !important;
    box-shadow: 0 2px 10px #444;
  }
  th,
  td {
    text-align: center !important;
  }

  .v-avatar {
    border-radius: 0;
    cursor: pointer;
    img {
      padding: 0.5rem;
    }
  }
}
.x {
  color: red;
}
