<template>
  <v-card class="pa-5 bordered radius-12 list-display">
    <v-card-title class="py-0 my-5"
      ><h2 class="dark">
        Company Admin
        <v-chip class="mx-2 px-4" color="#3a88e5" text-color="white">
          <v-avatar left>
            <v-icon small>mdi-checkbox-marked-circle</v-icon>
          </v-avatar>
          Primary Account
        </v-chip>
      </h2></v-card-title
    >
    <v-row no-gutters>
      <v-col sm="5">
        <v-list subheader>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Name
            </v-list-item-content>
            <v-list-item-action>
              {{ company.owner ? company.owner.username : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Email
            </v-list-item-content>
            <v-list-item-action>
              {{ company.owner ? company.owner.email : "--" }}
            </v-list-item-action>
          </v-list-item>
          <v-list-item>
            <v-list-item-content
              style="overflow: unset"
              class="color-gray text-capitalize"
            >
              Phone
            </v-list-item-content>
            <v-list-item-action class="d-inline-block">
              <span v-if="company.owner != null">{{
                company.owner.phone ? company.owner.phone.country_code : "--"
              }}</span>
              <span>{{
                company.owner.phone ? company.owner.phone.number : "--"
              }}</span>
            </v-list-item-action>
          </v-list-item>
        </v-list>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
export default {
  props: {
    company: {
      type: Object,
      default: () => {}
    }
  }
};
</script>
