<template>
  <v-card
    class="pa-5 bordered radius-12 list-display"
    v-if="invoices.length > 0"
  >
    <v-card-title class="py-0 my-5"
      ><h2 class="dark">Invoices</h2></v-card-title
    >
    <v-row no-gutters>
      <v-col sm="4">
        <section v-for="(item, index) in invoices" :key="index">
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Description</th>
                  <th class="text-left">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Licence</td>
                  <td>
                    <span>{{
                      item.company_license
                        ? item.company_license.current_cost
                        : "--"
                    }}</span>
                    <span>{{ " " + item.currency }}</span>
                  </td>
                </tr>
                <tr>
                  <td><strong>Amount</strong></td>
                  <td>
                    <strong>{{ item ? item.total_value : "--" }}</strong>
                    <strong>{{ " " + item.currency }}</strong>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </section>
      </v-col>
      <v-col sm="2">
        <section v-for="(item, index) in invoices" :key="index">
          <v-list subheader class="text-right bordered-left">
            <v-list-item class="bordered-bottom pb-3">
              <v-list-item-content
                style="overflow: unset"
                class="text-capitalize"
              >
                <v-list-item-title class="color-gray"
                  >Amount Due</v-list-item-title
                >
                <v-list-item-subtitle
                  ><h2>
                    <span>{{ item ? item.total_value : "--" }}</span>
                    <span>{{ " " + item.currency }}</span>
                  </h2></v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>

            <v-list-item>
              <v-list-item-content
                style="overflow: unset"
                class="text-capitalize"
              >
                <v-list-item-title class="color-gray" v-if="item.name"
                  >Name</v-list-item-title
                >
                <v-list-item-subtitle>{{
                  item ? item.name : "--"
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content
                style="overflow: unset"
                class="text-capitalize"
              >
                <v-list-item-title class="color-gray" v-if="item.number"
                  >Invoice Number</v-list-item-title
                >
                <v-list-item-subtitle>{{
                  item ? item.number : "--"
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
            <v-list-item>
              <v-list-item-content
                style="overflow: unset"
                class="text-capitalize"
              >
                <v-list-item-title class="color-gray"
                  >Due Date</v-list-item-title
                >
                <v-list-item-subtitle>{{
                  item.date ? item.date.date : "--" | moment("DD MMMM YYYY")
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
          <v-btn
            v-if="!company.is_active"
            class="my-auto mx-1 mt-10 radius-12 text-capitalize"
            color="success"
            width="100%"
            large
            @click="activate(item)"
          >
            <strong class="mx-2">Activate</strong>
          </v-btn>
        </section>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import { IndexData, UpdateData } from "@/helpers/apiMethods";
import cookie from "js-cookie";

export default {
  props: {
    company: {
      type: Object,
      default: () => {}
    }
  },
  data() {
    return {
      invoices: [],
      locale: cookie.get("language") || "en"
    };
  },
  created() {
    this.indexInvoices();
  },
  methods: {
    indexInvoices() {
      IndexData({ reqName: `companies/${this.$route.params.slug}/invoices` })
        .then(res => {
          const { data } = res.data;
          this.invoices = data;
        })
        .catch(() => {})
        .finally(() => {});
    },
    activate({ id }) {
      this.popUp().then(value => {
        if (!value.dismiss) {
          UpdateData({
            reqName: `companies/${this.$route.params.slug}/invoices`,
            data: { is_paid: 1, _method: "PUT", locale: this.locale },
            id: id
          })
            .then(() => {
              this.$router.push("/companies");
            })
            .catch(err => console.log(err));
        }
      });
    }
  }
};
</script>
