<template>
  <main>
    <h1 class="d-flex">
      <span>{{ $t("profile") }}</span>
    </h1>
    <v-row>
      <v-col lg="10" class="mx-auto">
        <v-alert v-if="globalServerErrors !== null" dense outlined type="error">
          <p
            class="mb-0"
            v-for="globalErr in globalServerErrors"
            :key="globalErr"
          >
            {{ globalErr[0] }}
          </p>
        </v-alert>
        <formWrapper :validator="$v.user">
          <form @submit.prevent="handleSave" class="form-box">
            <v-row>
              <!-- <v-col
                v-if="isEdit && profileBoolean"
                cols="12"
                class="align-self-center"
              >
                <v-avatar size="120" class="elevation-7">
                  <v-img :src="form.photo_url" />
                </v-avatar>
              </v-col>
              <v-col
                v-if="!isEdit && profileBoolean"
                cols="12"
                class="align-self-center"
              >
                <p class="mb-0">Profile Picture</p>
              </v-col> -->
              <template v-if="!isEdit">
                <v-col class="py-0 mt-sm-6" cols="12" sm="6">
                  <form-group name="name" :attribute="`fields.name`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.name"
                        type="text"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col class="py-0 mt-sm-6" cols="12" sm="6">
                  <form-group name="email" :attribute="`fields.email`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.email"
                        type="text"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>

                <v-col class="py-0" cols="12" sm="6">
                  <form-group name="password" :attribute="`fields.password`">
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.password"
                        type="password"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
                <v-col class="py-0" cols="12" sm="6">
                  <form-group
                    name="password_confirmation"
                    :attribute="`fields.password_confirmation`"
                  >
                    <template slot-scope="{ attrs, listeners }">
                      <v-text-field
                        v-bind="attrs"
                        v-on="listeners"
                        outlined
                        v-model.trim="form.password_confirmation"
                        type="password"
                      >
                      </v-text-field>
                    </template>
                  </form-group>
                </v-col>
              </template>

              <!-- <v-col class="py-0" cols="12">
                <form-group name="brand_ids" attribute="fields.brand_ids">
                  <template slot-scope="{ attrs, listeners }">
                    <v-autocomplete
                      :loading="loadingData"
                      :items="brands"
                      item-text="name.en"
                      item-value="id"
                      outlined
                      v-bind="attrs"
                      v-on="listeners"
                      multiple
                      chips
                      v-model="from.car_brands"
                    ></v-autocomplete>
                  </template>
                </form-group>
              </v-col> -->
              <v-col cols="12">
                <v-btn
                  class="success text-capitalize"
                  large
                  type="submit"
                  width="30%"
                  :loading="submitting"
                >
                  <!-- :disabled="$v.form.$invalid" -->
                  <span>Save</span></v-btn
                >
                <v-btn text large color="primary" class="ml-2" @click="back"
                  >Cancel</v-btn
                >
              </v-col>
            </v-row>
          </form>
        </formWrapper>
      </v-col>
    </v-row>
  </main>
</template>

<script>
import {
  required,
  minLength,
  email
  // maxLength,
  // numeric,
} from "vuelidate/lib/validators";
import { IndexData, UpdateDataId } from "@/helpers/apiMethods";
export default {
  data() {
    return {
      // form: {
      //   // name: "",
      //   // email: "",
      //   // password: "",
      //   // password_confirmation: "",
      //   // brand_ids: [],
      //   // country_id: {
      //   //   id: "",
      //   //   name: ""
      //   // },
      //   // city_id: {
      //   //   id: "",
      //   //   name: ""
      //   // },
      //   // is_admin: 0,
      //   // is_blocked: 0,
      //   // is_expert: 0
      // },
      brands: [],
      cities: [],

      maxSize: 2.048,
      reset: false,
      submitting: false,
      loadingData: false,
      loadingCountries: false,
      loadingCities: false,
      isEdit: false,
      changeEditBoolean: true,
      profileBoolean: true,
      loadingSave: false,
      is_blocked: 1,
      globalServerErrors: null,
      openCard: false,
      countries: []
    };
  },
  created() {
    this.indexbrands();
    // if (this.isEdit === true) {
    //   this.handleUserData();
    // }
  },
  computed: {
    form() {
      return JSON.parse(localStorage.getItem("user"));
    }
  },
  methods: {
    indexbrands() {
      IndexData({ reqName: `/admin/car-brands` })
        .then(res => {
          const { data } = res.data;
          this.brands = data;
        })
        .catch(() => {})
        .finally(() => {});
    },
    handleSave() {
      const formData = new FormData();

      this.submitting = true;
      // this.user.brand_ids.map((el, index) => {
      //   formData.append(`brand_ids[${index}]`, el);
      // });
      // Object.keys(this.user).forEach(formItem => {
      //   formData.append(formItem, this.form[formItem]);
      // });
      Object.keys(this.form).forEach(formItem => {
        formData.append(formItem, this.form[formItem]);
      });
      formData.append("_method", "put");

      UpdateDataId({
        reqName: `admin/auth/update-profile`,
        data: formData
      })
        .then(() => {
          this.submitting = false;

          history.go(-1);
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    },

    scrollTop() {
      window.scrollTo({
        top: 0,
        behavior: "smooth"
      });
    },

    back() {
      history.go(-1);
    },

    imageChange(photo) {
      this.form.birth_certificate = photo.file;
      this.reset = false;
      this.changeEditBoolean = false;
    },
    profileChange(photo) {
      this.form.profile_photo = photo.file;
      this.reset = false;
      this.profileBoolean = false;
    }
  },
  watch: {
    $route: {
      handler(route) {
        if (route.name === "supplierEdit") {
          this.$nextTick(() => {
            this.handleUserData(route.params.id);
          });
        }
      },
      immediate: true,
      deep: true
    }
  },
  validations: {
    form: {
      password: {
        required
      },
      password_confirmation: {
        required
      },
      name: {
        required,
        minLength: minLength(3)
      },

      email: {
        required,
        email
      }
    }
  }
};
</script>
<style lang="scss">
@media print {
  html,
  body {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  #printed {
    display: none !important;
  }
}

// .child-card {
//   &__name {
//     font-size: 15px;
//   }
// }
</style>
