<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-10">{{ $t("support") }}</h2>
      <v-data-table
        :headers="headers"
        :loading="loadingDataTable"
        :items="orders"
        :mobile-breakpoint="zero"
        :items-per-page="200"
        hide-default-footer
        class="table teams mx-5"
      >
        <template v-slot:item="{ item }">
          <tr class="table__row cursor-pointer">
            <td class="table__cell text-center">
              {{ item ? item.room : "--" }}
            </td>
            <td class="table__cell text-center">
              {{ item ? item.unread_count : "--" }}
            </td>
            <td class="table__cell text-center">
              <read-more
                more-str="more"
                less-str="less"
                :max-chars="30"
                :text="item.last_message ? item.last_message.message : '--'"
                class="mb-0 major-description m-b-0"
              ></read-more>
              <!-- <span>{{
                item.last_message ? item.last_message.message : "--"
              }}</span> -->
              <span v-if="!item.last_message">---</span>
            </td>
            <td class="table__cell text-center">
              {{ item.sent_at || "--" }}
            </td>

            <td class="table__cell text-center">
              <span>{{ item.sender ? item.sender.name : "--" }}</span>
            </td>

            <td class="table__cell text-center">
              <v-btn
                color="primary"
                class="text-capitalize bg-purple"
                text
                small
                :to="{ name: 'chatDetails', params: { id: item.room } }"
                ><strong>{{ $t("details") }}</strong></v-btn
              >
            </td>
          </tr>
        </template>
      </v-data-table>
      <!-- pagination -->
      <div class="text-xs-center my-10">
        <v-pagination
          v-if="orders.length > 0 && pagination.last_page > 1"
          v-model="pagination.current_page"
          :length="pagination.last_page || 1"
          :total-visible="20"
          @input="handlePagination"
        ></v-pagination>
      </div>
      <!-- pagination -->
    </v-container>
  </main>
</template>

<script>
import TableHeaders from "@/helpers/TableHeaders";
import { IndexData } from "@/helpers/apiMethods";
import { isEqual } from "lodash";
import cookie from "js-cookie";

export default {
  data() {
    return {
      zero: 0,
      dialog: false,
      headers: [],
      orders: [],
      loadingDataTable: false,
      loadingData: false,
      pagination: {},
      queries: {},
      locale: cookie.get("language") || "en"
    };
  },
  components: {
    // InputFilter: () => import("./components/InputFilter"),
  },
  created() {
    this.createTableHeaders();
  },
  methods: {
    indexorders(query) {
      this.loadingDataTable = true;

      IndexData({ reqName: "admin/chat", query })
        .then(res => {
          const { data, meta } = res.data;
          this.orders = data;
          this.pagination = meta;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    back() {
      history.go(-1);
    },
    createTableHeaders() {
      const headersList = [
        "room",
        "unread_count",
        "last_message",
        "sent_at",
        "sender",
        "details"
      ];
      this.headers = TableHeaders(headersList);
    },
    showCompany({ slug }) {
      if (this.$route.name == "accounts") {
        this.$router.push(`/accounts/${slug}`);
      } else {
        this.$router.push(`/orders/${slug}`);
      }
    },
    handlePagination(page) {
      this.queries = { ...this.queries, page };
      if (!isEqual(this.queries, this.$route.query)) {
        this.$router.push({ query: this.queries });
      }
    },
    endCallBack() {},
    startCallBack() {}
  },
  watch: {
    $route: {
      handler(route) {
        const { query } = route;
        this.queries = query;
        this.pagination.current_page = query.page;
        this.indexorders(query);
      },
      immediate: true
    }
  }
};
</script>
