<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-10">{{ $t("refund") }}</h2>
      <v-toolbar color="primary" dark flat>
        <template v-slot:extension>
          <v-tabs v-model="tab" align-with-title>
            <v-tabs-slider color="yellow"></v-tabs-slider>

            <v-tab v-for="item in items" :key="item">
              <span class="text-capitalize">
                {{ item }}
              </span>
            </v-tab>
          </v-tabs>
        </template>
      </v-toolbar>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card flat>
            <v-card-text>
              <OrderTable
                :headers="headers"
                :orders="orders"
                :loadingDataTable="loadingDataTable"
                :locale="locale"
              />
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text
              ><OrderTable
                :headers="headers"
                :orders="rejected"
                :loadingDataTable="loadingRejected"
                :locale="locale"
            /></v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item>
          <v-card flat>
            <v-card-text
              ><OrderTable
                :headers="headers"
                :orders="accepted"
                :loadingDataTable="loadingAccepted"
                :locale="locale"
            /></v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>

      <!-- pagination -->
      <!-- <div class="text-xs-center my-10">
        <v-pagination
          v-if="orders.length > 0 && pagination.last_page > 1"
          v-model="pagination.current_page"
          :length="pagination.last_page || 1"
          :total-visible="20"
          @input="handlePagination"
        ></v-pagination>
      </div> -->
      <!-- pagination -->
    </v-container>
  </main>
</template>

<script>
import TableHeaders from "@/helpers/TableHeaders";
import { IndexDataQuery } from "@/helpers/apiMethods";
import { isEqual } from "lodash";
import cookie from "js-cookie";

export default {
  data() {
    return {
      dialog: false,
      headers: [],
      orders: [],
      rejected: [],
      accepted: [],
      loadingDataTable: false,
      loadingRejected: false,
      loadingAccepted: false,
      loadingData: false,
      pagination: {},
      queries: {},
      locale: cookie.get("language") || "en",

      tab: null,
      items: ["pending", "rejected", "accepted"],
      text:
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
    };
  },
  components: {
    OrderTable: () => import("@/components/OrderTable")
  },
  created() {
    this.createTableHeaders();
  },
  methods: {
    indexorders(query) {
      this.loadingDataTable = true;

      IndexDataQuery({ reqName: "admin/order/refund/pending", query })
        .then(res => {
          const { data } = res.data;
          this.orders = data;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    indexrejected(query) {
      this.loadingRejected = true;

      IndexDataQuery({ reqName: "admin/order/refund/rejected", query })
        .then(res => {
          const { data } = res.data;
          this.rejected = data;
          this.loadingRejected = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    indexAccepted(query) {
      this.loadingRejected = true;

      IndexDataQuery({ reqName: "admin/order/refund/accepted", query })
        .then(res => {
          const { data } = res.data;
          this.accepted = data;
          this.loadingAccepted = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
    back() {
      history.go(-1);
    },
    createTableHeaders() {
      const headersList = ["id", "name", "date", "reason", "details"];
      this.headers = TableHeaders(headersList);
    },
    showCompany({ slug }) {
      if (this.$route.name == "accounts") {
        this.$router.push(`/accounts/${slug}`);
      } else {
        this.$router.push(`/orders/${slug}`);
      }
    },
    handlePagination(page) {
      this.queries = { ...this.queries, page };
      if (!isEqual(this.queries, this.$route.query)) {
        this.$router.push({ query: this.queries });
      }
    },
    endCallBack() {},
    startCallBack() {}
  },
  watch: {
    $route: {
      handler(route) {
        const { query } = route;
        this.queries = query;
        this.pagination.current_page = query.page;
        this.indexorders(query);
        this.indexrejected();
        this.indexAccepted();
      },
      immediate: true
    }
  }
};
</script>
