<template>
  <v-app>
    <notification />
    <v-toolbar v-if="$route.path != '/login'">
      <v-spacer></v-spacer>
      <v-btn icon to="/profile">
        <v-icon>mdi-account</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>
    </v-toolbar>
    <router-view></router-view>
  </v-app>
</template>

<script>
import Notification from "@/components/Notification";

export default {
  name: "App",
  components: {
    Notification
  }
};
</script>
