<template>
  <v-app id="inspire">
    <v-content>
      <v-container class="fill-height pa-0" fluid>
        <v-row no-gutters class="d-flex align-center">
          <v-col cols="12" sm="6">
            <section>
              <v-img
                :src="require('@/assets/imgs/logo.png')"
                fluid
                class="mx-auto"
                width="200px"
              ></v-img>
            </section>
            <v-form @submit.prevent="handleLogin" class="login-form">
              <v-card-text class="px-0">
                <form-group
                  name="email"
                  :validator="$v.email"
                  attribute="fields.email"
                >
                  <template slot-scope="{ attrs }">
                    <v-text-field
                      outlined
                      v-bind="attrs"
                      v-model="email"
                      placeholder="Enter your mail"
                      @input="$v.email.$touch()"
                      type="email"
                    >
                    </v-text-field>
                  </template>
                </form-group>

                <form-group
                  name="password"
                  :validator="$v.password"
                  attribute="fields.password"
                  class="mt-5"
                >
                  <template slot-scope="{ attrs }">
                    <v-text-field
                      outlined
                      v-bind="attrs"
                      v-model="password"
                      placeholder="Enter your password"
                      @input="$v.password.$touch()"
                      type="password"
                    >
                    </v-text-field>
                  </template>
                </form-group>
                <v-checkbox
                  v-model="remember_me"
                  color="primary"
                  :label="$t('remember_me')"
                >
                </v-checkbox>
              </v-card-text>
              <v-card-actions class="px-0">
                <div class="flex-grow-1"></div>
                <v-btn
                  width="100%"
                  class="text-capitalize mb-10"
                  large
                  color="black"
                  type="submit"
                  :loading="loading"
                  :disabled="$v.$invalid"
                >
                  <strong class="color-white">{{
                    $t("form_box.login")
                  }}</strong></v-btn
                >
              </v-card-actions>
            </v-form>
          </v-col>
          <v-col class="login-slider h-100" cols="12" sm="6">
            <section class="d-flex justify-end">
              <v-btn
                @click="handleChangeLanguage"
                text
                :title="$t('button.language')"
                class="ma-4 white-opacity"
              >
                <span class="color-white text-capitalize">{{
                  $t("language")
                }}</span>
              </v-btn>
            </section>
            <section class="pt-20">
              <img
                :src="require('@/assets/imgs/logo.png')"
                fluid
                width="150px"
                class="whiten"
              />
              <article class="mx-8">
                <h2 class="color-white mb-8">{{ $t("login_intro") }}</h2>
                <p class="color-white mb-10">{{ $t("login_description") }}</p>
              </article>
              <section class="mx-3">
                <hooper
                  class="d-block"
                  :autoPlay="true"
                  :playSpeed="4000"
                  :rtl="locale == 'ar'"
                >
                  <slide v-for="(item, i) in slides" :key="i" class="pa-0">
                    <v-card class="pa-5 mx-5">
                      <v-row no-gutters>
                        <v-col cols="3">
                          <v-img :src="item.image_url" width="90px" />
                        </v-col>
                        <v-col cols="9">
                          <h4 v-if="locale == 'en'">
                            {{ item.title_en || "" }}
                          </h4>
                          <h4 v-else>{{ item.title_ar || "" }}</h4>
                          <p v-if="locale == 'en'">
                            {{ item.content_en || "" }}
                          </p>
                          <p v-else>{{ item.content_ar || "" }}</p>
                        </v-col>
                      </v-row>
                    </v-card>
                  </slide>
                  <hooper-pagination slot="hooper-addons"></hooper-pagination>
                </hooper>
              </section>
            </section>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";
import { IndexData } from "@/helpers/apiMethods";
import { Hooper, Slide, Pagination as HooperPagination } from "hooper";
import "hooper/dist/hooper.css";

import cookie from "js-cookie";

export default {
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    password: {
      required,
      minLength: minLength(6),
    },
  },
  components: {
    Hooper,
    Slide,
    HooperPagination,
  },
  created() {
    this.indexSlider();
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect;
      },
      immediate: true,
    },
  },
  data() {
    return {
      email: "",
      password: "",
      loading: false,
      remember_me: false,
      loadingDataTable: false,
      redirect: undefined,
      slides: [],
      locale: cookie.get("language") || "en",
      swiperOption: {
        loop: true,
        autoplay: true,
        slidesPerView: 1,
        spaceBetween: 20,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      },
    };
  },
  methods: {
    handleLogin() {
      if (this.$v.$invalid) {
        return;
      } else {
        this.loading = true;
        let data = {
          email: this.email,
          password: this.password,
        };
        this.$store
          .dispatch("LoginByEmail", data)
          .then(() => {
            this.$router.push({ path: this.redirect || "/dashboard" });
            this.loading = false;
          })
          .catch(() => {
            this.loading = false;
          });
      }
    },
    handleChangeLanguage() {
      const lang = cookie.get("language");
      if (lang === "ar") {
        this.changeCookie("en");
      } else {
        this.changeCookie("ar");
      }
    },
    changeCookie(lang) {
      cookie.set("language", lang);
      window.location.reload();
    },
    indexSlider(query) {
      this.loadingDataTable = true;
      IndexData({ reqName: `general/intro-slides`, query })
        .then((res) => {
          const { data } = res.data;
          this.slides = data;
          this.loadingDataTable = false;
        })
        .catch(() => {})
        .finally(() => {});
    },
  },
};
</script>
