<template>
  <main class="bg-gray">
    <v-container fluid class="pa-0">
      <h2 class="px-5 my-5">{{ $t("support") }}</h2>
      <v-card class="mx-5 pb-1 px-6 my-6 chat-card" :loading="loading">
        <v-row v-if="!loading" class="pt-6 h-overflow">
          <v-col cols="12" v-for="(msg, i) in chat" :key="i">
            <p
              class="
                bg-primary
                px-5
                max-w-75
                py-2
                color-white
                radius-12
                left-radius-0
                mb-0
                d-inline-block
              "
              v-if="msg.by_me"
            >
              <span>
                {{ msg.message }}
              </span>
            </p>
            <section class="text-right" v-else>
              <p
                class="
                  bg-light-gray
                  px-5
                  max-w-75
                  py-2
                  text-right
                  radius-12
                  mb-0
                  d-inline-block
                "
              >
                <span>
                  {{ msg.message }}
                </span>
              </p>
            </section>
          </v-col>
          <!-- </v-row>
        <v-row> -->
          <v-col cols="12" class="form-area py-0">
            <v-alert
              v-if="globalServerErrors !== null"
              dense
              outlined
              type="error"
            >
              <p
                class="mb-0"
                v-for="globalErr in globalServerErrors"
                :key="globalErr"
              >
                {{ globalErr[0] }}
              </p>
            </v-alert>
            <!-- <formWrapper :validator="$v.form"> -->
            <form @submit.prevent="handleSave" class="form-box">
              <v-row>
                <v-col cols="10">
                  <!-- <form-group name="message" :attribute="`fields.message`">
                      <template slot-scope="{ attrs, listeners }"> -->
                  <!-- v-bind="attrs"
                          v-on="listeners" -->
                  <v-text-field
                    outlined
                    v-model.trim="form.message"
                    dense
                    rounded
                    :label="$t('type_your_msg')"
                    type="text"
                  >
                  </v-text-field>
                  <!-- </template>
                    </form-group> -->
                </v-col>

                <v-col cols="1">
                  <v-btn
                    class="bg-purple text-capitalize"
                    type="submit"
                    icon
                    height="40"
                    width="40"
                    :loading="submitting"
                    :disabled="!form.message"
                  >
                    <v-icon small color="primary">mdi-send</v-icon></v-btn
                  >
                </v-col>
              </v-row>
            </form>
            <!-- </formWrapper> -->
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </main>
</template>

<script>
import { ShowData, UpdateData } from "@/helpers/apiMethods";
import cookie from "js-cookie";
// import { required } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      chat: {},
      headers: [],
      form: {
        message: "",
        type: "text"
      },
      imageOverlay: false,
      globalServerErrors: null,
      currentPreviewImage: "",
      locale: cookie.get("language") || "en",
      loadingDataTable: false,
      loading: false,
      submitting: false
    };
  },
  methods: {
    show(id, locale) {
      this.loading = true;
      ShowData({
        reqName: `admin/chat`,
        id: id,
        locale
      })
        .then(res => {
          const { data } = res.data;
          this.chat = data.reverse();
          // this.chat = concat_data.concat(concat_data);
          this.loading = false;
        })
        .catch(() => {});
    },
    handleSave() {
      const formData = new FormData();
      this.submitting = true;
      Object.keys(this.form).forEach(formItem => {
        formData.append(formItem, this.form[formItem]);
      });
      // formData.append("_method", "put");

      UpdateData({
        reqName: `admin/chat`,
        data: formData,
        id: this.$route.params.id
      })
        .then(res => {
          this.submitting = false;
          this.chat = res.data.data.reverse();
          this.form.message = "";
        })
        .catch(err => {
          this.globalServerErrors = err.response.data.errors;
          this.scrollTop();
          this.submitting = false;
        })
        .finally(() => {
          this.submitting = false;
        });
    }
  },
  watch: {
    $route: {
      handler(route) {
        this.$nextTick(() => {
          this.show(route.params.id);
        });
      },
      immediate: true
    }
  }
  // validations: {
  //   form: {
  //     message: {
  //       required,
  //     },
  //   },
  // },
};
</script>
